@charset "utf-8";
#header { border-top: 8px solid #0268b3; }
.swiper-container .swiper-pagination-bullet-active { background-color: #f60; }
.mian_nav ul li { background: #dce0ec; }
.u-tt .hd h2,.m-pFList li .t a { color: #132c80; }
.m-pFList li:after { background-color: #f00; }
.more-common-01 { border-bottom: 3px solid #0052a5; }
.more-common-01 a { background:url(more_blue.png) no-repeat 90% center;}
.form-panel .btn-submit { background: #0052a5; }
.page a { background: #778dd6; }
.form-search { box-shadow: 3px 5px 5px #0268b3; }
.form-search input[type="submit"] { background: #0268b3; }
#fixed-foot .li-01 { background-image: url(icon_arr_email.png); }